body{
  position: relative;
  width: 1512px;
  height: 982px;
}

* {background-color: rgb(81, 137, 240);
}

.col{
  background-color: rgb(255, 255, 255);
  border-radius: 33px;
  width: 450px;
  height: 119px;
  top: 14px;
  left: 91px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.right-column.col{
  text-align: right;
}

.weather_card.col-2{
  width: 400px;
  height: 500px;
  left: 91px;
  top: 163px;
  background-color: #E9D8A6;
  border-radius: 33px;
}

.weekly_forcast{
  width: 890px;
  height: 500px;
  left: 486px;
  top: 163px;
  background-color: #87BFFF;
}

.weeklu_tab.col{
  position: absolute;
  height: 244px;
  width: 620px;
  left: 66%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 33px;
  background-color: blue;
}

.sunny-image{
  height: 200px;
  width: 200px;
  left: 66%;
  top: 45%;
}
