body{
  position: relative;
  width: 1512px;
  height: 982px;
  background: linear-gradient(157.71deg, #005F73 14.54%, #3D1C51 90.49%);
}

.col{
  background-color: #E9D8A6;
  border-radius: 33px;
  width: 400px;
  height: 119px;
  top: 14px;
  left: 91px;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.right-column.col{
  text-align: right;
  background: transparent;
}

.weather_card.col-2{
  width: 400px;
  height: 500px;
  left: 91px;
  top: 163px;
  background-color: #E9D8A6;
  border-radius: 33px;
}

.weekly_forcast{
  width: 890px;
  height: 500px;
  left: 486px;
  top: 163px;
  background-color: #87BFFF;
}

.card-body{
  position: absolute;
  height: 500px;
  width: 400px;
  left: 66%;
  top: 45%;
  transform: translate(-50%, -50%);
  border-radius: 33px;
  background-color: rgb(0, 0, 0);
  display: flex;
}


.sunny-image {
  width: 300px;
  height: 300px;
  left: 157px;
  top: 50px;
  background: transparent;
}

span{
  background: transparent;
}

.rectangle-column {
  background: #005F73;  border-radius: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 495px; /* Adjust the width as needed */
  height: 200px; /* Adjust the height as needed */
  margin: 0 auto; /* Center the column horizontally */
  position: relative;
  top: 45%;
  transform: translateY(-50%);
  left: auto;
}

input.search-bar {
  background: #E9D8A6;  position: relative;
  top: 40%;
  transform: translateY(-50%);
  left: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto;
  height: 82px;
  width: 495px;
  
  font-family: 'Cormorant Garamond';
  border-radius: 33px; 
}

.temp{
  font-family: 'Cormorant Garamond';
  position: absolute;
  width: 144px;
  height: 102px;
  left: 200px;
  top: 544px;
  font-size: 50px;
}

.image-container {
  display: flex;
  flex-wrap: nowrap;
}

.image-wrapper {
  flex: 0 0 auto;
  margin-right: 10px; /* Optional: Add spacing between images */
}
